tr {
  height: 80px;
}

div.v-application--wrap {
  background-image: url('/background2.jpg');
  background-repeat: repeat-y;
}

div.theme--dark.v-data-table{
  background-color: rgba(0, 0, 0, 0.6);
}

h2{
  font-family: 'Uncial Antiqua', cursive;
}
