div.v-application--wrap {
  background-image: url('/gotBackground.jpg');
  background-size: cover;
}

div.theme--dark.v-data-table{
  background-color: rgba(0, 0, 0, 0.6);
}

h2{
  font-family: 'Uncial Antiqua', cursive;
}

div.v-data-table tbody td {
    font-size: 15px !important;
}
